langchain
python-dotenv
langchain_community
pypdf
bs4
arxiv
pymupdf
langchain-text-splitters
langchain-openai
sentence-transformers
langchain_huggingface
faiss-cpu
uvicorn
fastapi
streamlit
langchain-ollama
duckdb
pandas
langchain_groq
duckduckgo_search
validators==0.28.1
youtube_transcript_api
pytube
unstructured
